on post-fs-data
    chown system system /dev/ttyAMA3
    chmod 0660 /dev/ttyAMA3
    
   # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0771 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    mkdir /data/vendor/log/wifi 0770 wifi system
    mkdir /data/vendor/bluedroid 0771 bluetooth bluetooth
    
    mkdir /data/vendor/gnss 0770 system system

service octty /vendor/bin/octty
    class core
    user system
    group system bluetooth root media
    disabled

service oam_hisi /vendor/bin/oam_hisi
    class main
    user system
    group system root wifi bluetooth
    oneshot
    disabled
    
service hisi_bfg /vendor/bin/start_connectivity_hisi
    class late_start
    user root
    group system
    oneshot
    
on property:setup_hi110x_modules=success
    start octty
    start oam_hisi
    start hsgnss
    start agnsscontrol
    start supl20clientd
    start watchlssd
    write /dev/kmsg "hi110x_modules has started"

service hsgnss /vendor/bin/gnss_engine_hisi -normal
    class main
    user gps
    group system inet root wakelock
    disabled

service agnsscontrol /vendor/bin/gnss_control_hisi -normal
    class main
    user gps
    group system inet root wakelock
    disabled

service supl20clientd /vendor/bin/gnss_supl20clientd_hisi
    class main
    user system
    group system inet
    disabled

service watchlssd /vendor/bin/gnss_watchlssd_thirdparty
    class main
    user gps
    group system inet net_raw wakelock
    disabled
